/* common css ================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  text-align: center;
  
}

/* entry page css============== */

.entryToolbar{
  height: 50px;
  text-align: right;
}
.entryToolbar > button {
  padding: 2px;
  background-color: tomato;
  font-weight: 700;
  font-size: 24px;
}

.entryFlex {
  display: flex;
  justify-content: center;
}
.loginBox > * {
  display: block;
  padding: 10px;
}
.loginBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 700px;
  border: 1px solid black;
  padding: 20px;
}
.loginBox > button {
  background-color: tomato;
}




/* auction page css=============== */

.entryToolbar > p {
  margin-right: 40px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  display: block;
}

.flex {
  display: flex;
}

.tlbr {
  justify-content: flex-end;
}

.flexlist{
  display: flex;
  flex-wrap: wrap;
}

.listitem {
  max-height: 500px;

  width: 300px;
  border: 1px solid black;
  margin: 10px;
}
.listitem > img {
  max-width: 100%;
  max-height: 50%;
}

.singleBidHistory {
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  width: 200px;
  height: 100%;
  background-image: linear-gradient( to bottom right, rgb(218, 212, 40) , rgb(255, 155, 33));
}

.bidbox{
  padding-top: 10px;
  padding-bottom: 50px;
}
.bidbox > *{
  padding: 20px;
}
.bidbox > input{
  width: 800px;
}
